{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-4">Erreur sur cette page</h1>

    <div class="d-flex justify-content-center">
        <p class="text-center">
            Une erreur s'est produite à l'affichage de cette page.<br/>
            <a href="{{ path('app_home') }}">Retourner à l'accueil</a>.
        </p>
    </div>
{% endblock %}